<html>
<head>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="/readFile/whaleIcon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300&display=swap" rel="stylesheet">

  <!-- <link rel="stylesheet" href="/readFile/style.css"> -->
</head>

<body style="padding: 0px 2em;">
<div>
  <h2>웹 연동 테스트 ...</h2>
</div>
</body>
</html>