<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <link rel="shortcut icon" href="/images/whaleIcon.png">
  <link rel="stylesheet" href="/css/style.css">

  <!--
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300&display=swap" rel="stylesheet">
  -->

</head>

<body style="padding: 0px 2em;">
  <div style="width:100%; height:100%; overflow: hidden;">
    <!-- 상단 데이터 -->
    <div style="width:100%; height: 150px;">
      <h2>분석요청</h2>
      <div style="width:100%; height:100%;">
        <table class="infoTable" id="requestInfo" style="width:60%;">
          <tr class="infoTr">
            <td style="width: 20%; min-width:130px;">
              <p>
                포멧여부 : <input type="checkbox" id="formatChk" checked/>
              </p>
            </td>
            <td style="width: 20%; min-width:130px;">
              <p>
                실시간여부 : <input type="checkbox" id="syncYn"/>
              </p>
            </td>
          </tr>
          <tr class="infoTr">
            <td style="width: 20%; min-width:300px;">
              <p>
                리퀘스트ID : <input style="height:22.5px; cursor: text;" id="requestId"/>
              </p>
            </td>
            <td style="width: 20%; min-width:350px;">
              <input type="file" id="fileInput" multiple>
              <button class="btn" type="submit" id="sendButton">전송</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!-- 표데이터 -->
    <div style="width:900px; height: 80%; padding-top: 50px;">
      <div style="width: 350px; height: 90%; overflow:scroll; overflow-x:hidden; overflow-y:auto; scrollbar-width: none; float:left;">
        <table id="requestResult" style="width:100%;">
          <thead>
          <tr>
            <th style="width:50px;">No</th>
            <th style="width:300px;">이미지명</th>
          </tr>
          </thead>
          <tbody>
          <tr style="height:100px">
            <td style="color:rgb(150, 150, 150); text-align:center; vertical-align: middle;" colspan="6">🐳 이미지를 업로드해주세요 🐳</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="imgViewer" style="width: 500px; height: 90%; overflow:auto; float:right;"></div>
    </div>
  </div>
</body>

</html>

<script type="text/javascript">
  let serverNo        = window.location.hostname;

  $(document).on('mouseover', 'table#requestResult tr', function() {
    if(typeof $('#requestResult>tbody>tr>td').attr('colspan') === 'undefined') $(this).css('background-color', '#EFEFF5');
  });

  $(document).on('mouseleave', 'table#requestResult tr', function() {
    if(typeof $('#requestResult>tbody>tr>td').attr('colspan') === 'undefined') $(this).css('background-color', '#FFFFFF');
  });

  $(document).on('click', '#sendButton', function(e) {
    let formData = new FormData();
    formData.append("attachedImage",fileInput.files[0]);

    let files = $('input[type=file]')[0].files;
    console.log(files);

    let today     = new Date();
    let requestId = $('#requestId').val();
    let formatChk = $('#formatChk').is(':checked');
    let syncYn    = $('#syncYn').is(':checked');

    if(requestId==='')  requestId = "국민연금테스트_"+today.getFullYear()+Number(today.getMonth()+1)+today.getDate()+today.getHours()+today.getMinutes()+today.getSeconds();

    formData.append("requestId", requestId);
    formData.append("callbackUrl", 'http://'+serverNo+':9100/api/v1/aiocr/callbackTest');

    if(formatChk) formData.append("format", "simple");

    for(let i=0; i<files.length; i++) {
      formData.append("ocrFiles", files[i]);
    }

    let apiUrl = '/api/v1/aiocr/loadAiocrProgram';

    if(syncYn) apiUrl = '/api/v1/aiocr/aiocrSyncLoad';

    $.ajax({
      url : apiUrl,
      data: formData,
      processData : false,
      contentType : false,
      type : 'POST',
      success : function(result) {
        console.log('성공', result);

        let files = $('input[type=file]')[0].files;

        let tableHTML = '';
        for(let i=0; i<files?.length; i++) {
          tableHTML += '<tr style="background-color: white;" tabindex='+i+'>';
          tableHTML += '  <td class="resultNo"    style="width:50px; text-align:center; vertical-align: middle;">'+Number(i+1)+'</td>';
          tableHTML += '  <td class="ellipsis"    style="width:300px;" title='+files[i].name+'>'+files[i].name+'</td>';
          tableHTML += '</tr>';
        }

        $('table#requestResult>tbody').html(tableHTML);

      },
      error : function(e) {
        console.log('처리 실패', e);
      }
    });
  });

  $(document).on('click', 'tr', function(e) {
    let requestId = $('#requestId').val();
    let imageName = $(this).find('td[class=ellipsis]').attr('title');

    if(typeof imageName !== 'undefined')
      $('div.imgViewer').html('<a class="imgHref" href="/readData/input/'+requestId+'/'+imageName+'" target="_blank"><img src="/readData/input/'+requestId+'/'+imageName+'" onLoad={changeImgSize();}></a>');
  });

  function changeImgSize() {
    // 이미지 사이즈 조정
    let width = $('img').width();
    let height = $('img').height();

    let imgViewerWidth = $('.imgViewer').width();
    let imgViewerHeight = $('.imgViewer').height();

    if(width > height)  $('img').css('height', imgViewerHeight);
    else $('img').css('width', imgViewerWidth);
  }
</script>
